<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.lms.mapper.AssignmentMapper">
	<select id="selectAssignmentExam"
			parameterType = "java.util.Map"
			resultType="kr.co.gdu.lms.vo.AssignmentExam">
		SELECT assignment_exam_no assignmentExamNo
				,lecture_name lectureName
				,assignment_exam_title assignmentExamTitle
				,assignment_exam_content assignmentExamContent
				,assignment_deadline assignmentDeadLine
				,create_date createDate
		FROM assignment_exam
		WHERE lecture_name = #{lectureName}
		LIMIT #{beginRow},#{rowPerPage}
	</select>
	<insert id="insertAssignmentExam"
			parameterType="kr.co.gdu.lms.vo.AssignmentExam">
		INSERT INTO assignment_exam(
			lecture_name
			,assignment_exam_title
			,assignment_exam_content
			,assignment_deadline
			,create_date
		)VALUES(
			#{lectureName}
			,#{assignmentExamTitle}
			,#{assignmentExamContent}
			,#{assignmentDeadLine}
			,NOW()
		)
	</insert>
	<select id="selectassignmentExamNo"
			resultType="int">
			SELECT assignment_exam_no assignmentExamNo FROM assignment_exam WHERE create_date = NOW()
		
	</select>
	<select id ="selectAssignmentOne"
			resultType="kr.co.gdu.lms.vo.AssignmentExam"
			parameterType="int">
			SELECT assignment_exam_no assignmentExamNo
				,lecture_name lectureName
				,assignment_exam_title assignmentExamTitle
				,assignment_exam_content assignmentExamContent
				,assignment_deadline assignmentDeadLine
				,create_date createDate
		FROM assignment_exam
		WHERE assignment_exam_no = #{assignmentExamNo}
	</select>
	<select	id="selectAssignmentTotalCount"
			resultType="int">
		SELECT COUNT(*) cnt FROM assignment_exam
	</select>
</mapper>