<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.lms.mapper.AssignmentfileMapper">
	<insert id="insertAssingmentfile">
		INSERT INTO assignment_file(
			assignment_exam_no
			,login_id
			,assignment_file_name
			,assignment_file_origin_name
			,assignment_file_type
			,assignment_file_size
			,assignment_file_create_date
		)VALUES(
			#{assignmentExamNo}
			,#{loginId}
			,#{assignmentFileName}
			,#{assignmentFileOriginName}
			,#{assignmentFileType}
			,#{assignmentFileSize}
			,NOW()
		)
		
		
	</insert>



</mapper>