<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.lms.mapper.HyeinMapper">
	
	<!-- 버튼 누르면 모두 출석으로 -->
	<update id="updateAttendanceListAll"
			parameterType="int">
		UPDATE attendance SET
			attendance_record='출석'
		WHERE schedule_no = #{scheduleNo};
	</update>
	
	<!-- 강사별 맡고있는 강의의 학생이름, 출결, 강의 이름 , 출결날짜 뽑기 -->
	<select id="selectAttendance"
			parameterType="java.util.Map"
			resultType="java.util.Map">
		SELECT
			a.attendance_record attendanceRecord
			, sc.schedule_no scheduleNo
			, st.student_name studentName
			, sc.schedule_date scheduleDate 
			, l.lecture_name lectureName
			, e.login_id loginId
		FROM attendance a
		JOIN education e
			ON a.education_no = e.education_no
		JOIN lecture l
			ON e.lecture_name = l.lecture_name
		JOIN schedule sc
			ON sc.schedule_no = a.schedule_no
		JOIN student st
			ON st.login_id = e.login_id
		WHERE l.teacher = #{loginId}
			AND l.lecture_active = '1'
			<if test="scheduleDate != ''">
				AND sc.schedule_date = #{scheduleDate}
			</if>
			<if test="scheduleDate == ''">
				AND sc.schedule_date = CURDATE()
			</if>
	</select>
	
	<!-- 해당 학생의 educationNo 뽑기 -->
	<select id="selectEducationNo"
			parameterType="String"
			resultType="int">
		SELECT 
			education_no educationNo
		FROM education
		WHERE login_id=#{loginId}
	</select>

	<!-- 출결사항 수정 -->
	<update id = "updateAttendance"
			parameterType="java.util.Map">
		UPDATE attendance SET
			attendance_record = #{attendanceRecord}
		WHERE schedule_no = #{scheduleNo} AND education_no = #{educationNo}
	</update> 
	
</mapper>