<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.lms.mapper.ManagerMapper">
	<resultMap type ="HashMap" id="ManagerOneMap">
		<id column="managerName" property="managerName"/>
		<id column="managerBirth" property="managerBirth"/>
		<id column="managerGender" property="managerGender"/>
		<id column="address" property="address"/>
		<id column="detailAddr" property="detailAddr"/>
		<id column="managerEmail" property="managerEmail"/>
		<id column="managerPhone" property="managerPhone"/>
		<id column="positionName" property="positionName"/>
		<id column="deptName" property="deptName"/>
		<id column="createDate" property="createDate"/>
	</resultMap>
	<select id="selectManagerOne" 
			parameterType="String" 
			resultMap="ManagerOneMap">
		SELECT
		  login_id loginId
		  , manager_name managerName 
		  , manager_birth managerBirth
		  , manager_gender managerGender 
		  , address 
		  , detail_addr detailAddr
		  , manager_email managerEmail
		  , manager_phone managerPhone
		  , d.dept_name deptName
		  , position_name positionName
		  , m.create_date createDate
			FROM manager m
			INNER JOIN position p ON p.position_no = m.position_no
			INNER JOIN dept d ON d.dept_no = m.dept_no
		WHERE login_id = #{loginId}
	</select>
	
	<select id="selectManagerList" resultType="kr.co.gdu.lms.vo.Manager">
		SELECT 
		  login_id loginId
		  , manager_name managerName
		  , position_no positionNo
		  , create_date createDate
		FROM manager 
	</select>
	
	<update id= "updateManager" 
			parameterType="kr.co.gdu.lms.vo.Manager">
		UPDATE manager SET
			manager_name = #{managerName}	
			, manager_birth = #{managerBirth}	
   			, manager_gender = #{managerGender}	
   			, address= #{address}	
  			, detail_addr = #{detailAddr}	
   			, manager_email = #{managerEmail}	
   			, manager_phone = #{managerPhone}	
			, dept_no = #{deptNo}	
			, position_no = #{positionNo}	
		WHERE login_id = #{loginId}	
	</update>
	
	<delete id="deleteManager"
		parameterType="String">
		DELETE FROM login_id
		WHERE login_id = #{loginId}	
    </delete>
		
	<select id="pwCheck"
			resultType="int"
			parameterType="kr.co.gdu.lms.vo.Login">
		SELECT COUNT(*)
		FROM login
		WHERE login_id = #{loginId} AND login_pw = PASSWORD(#{loginPw})
	</select>
		
	<!-- 매니저 회원가입 - 부서 이름과 번호 뽑기-->
	<select id="selectDept"
			resultType="kr.co.gdu.lms.vo.Dept">
		SELECT 
			dept_no deptNo
			, dept_name deptName
		FROM dept
	</select>
	
	<!-- 매니저 회원가입 - 직급 이름과 번호 뽑기 -->
	<select id="selectPosition"
			resultType="kr.co.gdu.lms.vo.Position">
		SELECT 
			position_no positionNo
			, position_name positionName
		FROM position
	</select>
</mapper>
	
