<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.lms.mapper.MemberFileMapper">
	<select id="selectMemberFile"
			parameterType="String"
			resultType="kr.co.gdu.lms.vo.MemberFile">
		SELECT member_file_no memberFileNo
		, login_id loginId
		, member_file_name memberFileName
		, member_file_origin_name memberFileOriginName
		, member_file_type memberFileType
		, member_file_size memberFileSize
		FROM member_file
		WHERE login_id = #{loginId}
	</select>
	
	<delete id="deleteMemberFile"
			parameterType="String">
		DELETE FROM member_file
		WHERE login_id = #{loginId}	
	</delete>
	
	<insert id="insertMemberFile"
			parameterType="kr.co.gdu.lms.vo.MemberFile">
		INSERT INTO member_file (
			login_id
			, member_file_name
			, member_file_origin_name
			, member_file_type
			, member_file_size
			, member_file_create_date
		)
		VALUES (
			#{loginId}
			, #{memberFileName}
			, #{memberFileOriginName}
			, #{memberFileType}
			, #{memberFileSize}
			, NOW()
		)
	</insert>
	
	<update id="updateMemberPw"
			parameterType="kr.co.gdu.lms.vo.Login">
		UPDATE login 
		SET login_pw = PASSWORD(#{loginPw})
		WHERE login_id = #{loginId}; 
	</update>
	
</mapper>