<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.lms.mapper.NoticeFileMapper">

	<!-- 공지사항 파일 -->
	<select id = "selectNoticeFile"
			parameterType="String"
			resultType="kr.co.gdu.lms.vo.NoticeFile">
		SELECT 
			notice_file_no noticeFileNo
			, notice_no noticeNo
			, login_id loginId
			, notice_file_name noticeFileNam
			, notice_file_origin_name noticeFileOriginName
			, notice_file_type noticeFileType
			, notice_file_size noticeFileSize
			, create_date createDate
		FROM notice_file
		WHERE notice_no=#{noticeNo}
	</select>
	
	<!-- 공지사항 파일 삭제 -->
	<delete id="deleteNoticeFile"
			parameterType="String">
		DELETE FROM notice_file
		WHERE notice_no=#{noticeNo}
	</delete>
	
	<!-- 공지사항 파일 추가 -->
	<insert id="insertNoticeFile"
			parameterType="kr.co.gdu.lms.vo.NoticeFile">
		INSERT INTO notice_file (
			login_id
			, notice_file_name
			, notice_file_origin_name
			, notice_file_type
			, notice_file_size
			, notice_file_create_date
		) VALUES (
			#{loginId}
			, #{noticeFileName}
			, #{noticeFileOriginName}
			, #{noticeFileType}
			, #{noticeFileSize}
			, #{noticeFileCreateDate}
		)
	</insert>
</mapper>