<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.lms.mapper.ReviewMapper">
<select id="selectEducationNo"
		resultType="int"
		parameterType="java.util.Map">
	SELECT education_no educationNo 
	FROM education e INNER JOIN lecture l
	ON e.lecture_name = l.lecture_name
	WHERE e.login_id=#{loginId} 
	AND l.lecture_name=#{lectureName}
</select>

<insert id="insertReview"
		parameterType="kr.co.gdu.lms.vo.EducationReview">
	INSERT INTO 
		education_review(
			education_no
			,education_review_star
			,education_review_content
			,create_date
			,update_date
		) 
		VALUES(
			#{educationNo}
			,#{educationReviewStar}
			,#{educationReviewContent}
			,NOW()
			,NOW()
		)
</insert>
</mapper>