<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.lms.mapper.StatsMapper">
	<!-- 반당 평균 점수 -->
	<select id="selectAvgScore"
			resultType="java.util.Map">
		SELECT 
			e.lecture_name className ,(SUM(assignment_submit_score)/COUNT(assignment_exam_no)) AS avg
		FROM assignment_submit a
		INNER JOIN education e
		ON a.education_no = e.education_no
		INNER JOIN lecture l 
		ON l.lecture_name = e.lecture_name
	
		GROUP BY e.lecture_name
	</select>
	<!-- 반당 중탈 인원수 -->
	<select id="selectDropRecord"
			resultType="java.util.Map">
		SELECT 
			e.lecture_name DlectureName,(COUNT(e.lecture_name)) Dcnt 
		FROM education e INNER JOIN drop_record d 
		ON e.education_no = d.education_no 
		GROUP BY e.lecture_name
	</select>
	<!-- 반당 평균 나이 -->
	<select id="selectClassAverAge"
			resultType="java.util.Map">
		SELECT lecture_name lectureName,SUM(YEAR(NOW())-YEAR(student_birth))/COUNT(student_name) cnt
		FROM student s 
		INNER JOIN education e
			ON s.login_id = e.login_id
		GROUP BY lecture_name
	</select>
	<!-- 전체 학생 남녀 비율 -->
	<select id="selectGenderRate"
			resultType="java.util.Map">
		SELECT student_gender gender
				,(COUNT(student_gender)/(SELECT COUNT(student_gender) FROM student))*100 cnt 	
		FROM student 
		GROUP BY student_gender
	</select>
	<!-- 반당 인원수 -->
	<select id="selectPerClass"
			resultType="java.util.Map">
		SELECT 
			lecture_name lectureName
			,COUNT(lecture_name)-1 cnt
		FROM lecture 
		WHERE lecture_active = '1'
		GROUP BY lecture_name 
	</select>
	<!--학생 대졸/초대졸/고졸 퍼센트 -->
	<select id="selectGraduate"
			resultType="java.util.Map">
		SELECT 
			graduate graduate
			,((COUNT(student_name)/(SELECT COUNT(student_name) FROM student))*100) cnt
		FROM student 
		GROUP BY graduate
	</select>
	<!-- 전공/비전공 -->
	<select id="selectMajor"
			resultType="java.util.Map">
		SELECT 
			major_name
			,(count(major_name)/(SELECT COUNT(login_id) FROM student))*100
		FROM major 
		WHERE major_name LIKE '%컴퓨터%' 
		OR major_name LIKE '%소프트웨어%'
	</select>
</mapper>