<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.lms.mapper.StatsMapper">
	<!-- 반당 평균 점수 -->
	<select id="selectAvgScore"
			resultType="java.util.Map">
		SELECT 
			e.lecture_name className ,(SUM(assignment_submit_score)/COUNT(assignment_exam_no)) AS avg
		FROM assignment_submit a
		INNER JOIN education e
		ON a.education_no = e.education_no
		GROUP BY e.lecture_name
	</select>

</mapper>