<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.lms.mapper.TeacherMapper">
	<select id="selectTeacherList" 
			   resultType="kr.co.gdu.lms.vo.Teacher">
		SELECT
			login_id loginId
			, teacher_name teacherName
			, teacher_birth teacherBirth
			, address
			, teacher_email teacherEmail
			, graduate 
		FROM teacher 
	</select>
	
	<select id="selectTeacherOne"
				parameterType="String" 
				resultType="kr.co.gdu.lms.vo.Teacher">
			SELECT 
				login_id
				, teacher_name teacherName
				, teacher_birth teacherBirth
				, address address
				, detail_addr detailAddr
				, teacher_phone teacherPhone
				, graduate graduate
			FROM teacher = #{loginId}
	</select>
	
	<update id="updateTeacher" parameterType="kr.co.gdu.lms.vo.Teacher" >
			UPDATE teacher SET
				teacher_name teacherName= #{teacherName}
				, teacher_birth teacherBirth= #{teacherBirth}
				, address= #{address}
				, detail_addr detailAddr= #{detailAddr}
				, teacher_email= #{managerName} 
				, teacher_phone= #{managerName}
				, graduate= #{managerName}
				WHERE login_id = #{loginId}	
	</update>
		
	<delete id="deleteTeacher" parameterType="kr.co.gdu.lms.vo.Teacher">
			DELETE FROM login_id
			WHERE login_id = #{loginId}	
	</delete>
	
	
</mapper>
