<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.lms.mapper.TeacherMapper">
	<select id="selectTeacherList" 
			resultType="kr.co.gdu.lms.vo.Teacher">
		SELECT
			login_id loginId
			, teacher_name teacherName
			, teacher_birth teacherBirth
			, create_date createDate
		FROM teacher 
	</select>
	
	<select id="selectTeacherOne"
			parameterType="String" 
			resultType="kr.co.gdu.lms.vo.Teacher">
		SELECT 
			login_id loginId
			, teacher_name teacherName
			, teacher_birth teacherBirth
			, address 
			, teacher_gender teacherGender
			, detail_addr detailAddr
			, teacher_email teacherEmail
			, teacher_phone teacherPhone
			, graduate 
			, create_date createDate
		FROM teacher 
		WHERE login_id = #{loginId}
	</select>
	
	<update id="updateTeacher" 
			parameterType="kr.co.gdu.lms.vo.Teacher" >
		UPDATE teacher 
		SET login_id = #{loginId}
			, teacher_name = #{teacherName}
			, teacher_birth = #{teacherBirth}
			, teacher_gender =#{teacherGender}
			, address= #{address}
			, detail_addr = #{detailAddr}
			, teacher_email= #{teacherEmail} 
			, teacher_phone= #{teacherPhone}
			, graduate= #{graduate}
			, update_date = NOW()
		WHERE login_id = #{loginId}	
	</update>
	
	<update id="updateTeacherActive"
			parameterType="kr.co.gdu.lms.vo.Login">
		UPDATE login SET login_active = '0'
		WHERE login_id = #{loginId} AND  login_pw = PASSWORD(#{loginPw})
	</update>
		
	<delete id="deleteTeacher"
	 		parameterType="String">
		DELETE FROM teacher
		WHERE login_id = #{loginId}	
	</delete>
	
	<select id="pwCheck"
			resultType="int"
			parameterType="kr.co.gdu.lms.vo.Login">
		SELECT 
			COUNT(*)
		FROM login
		WHERE login_id = #{loginId} AND login_pw = PASSWORD(#{loginPw})
	</select>
	
</mapper>
