<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.lms.mapper.YoungInMapper">
	<select id="selectLearningStudentName"
		resultType="String">
		SELECT 
			login_id loginId
		FROM education
		</select>
		
	<insert id="insertStudentInLecture"
		parameterType="String">
		INSERT INTO 
		education (
			lecture_name
			, login_id
			, education_date
		)
		VALUES(
			#{lectureName}
			, #{loginId}
			, NOW()
		)
	</insert>
		
	<select id="selectStudentListByLectureName"
		parameterType="String"
		resultType="kr.co.gdu.lms.vo.Student">
			SELECT
		        s.login_id loginId
		        , s.student_name studentName
		        , s.student_birth studentBirth
		        , s.student_gender studentGender
		        , s.address address
		        , s.detail_address detailAddress
		        , s.student_email studentEmail
		        , CONCAT(SUBSTRING(s.student_phone, 1,3),'-',(SUBSTRING(s.student_phone,4,4)),'-',(SUBSTRING(s.student_phone,8,4))) studentPhone
		        , s.military_status militaryStatus
		        , s.graduate
		        , s.create_date createDate   
		     FROM student s
		     INNER JOIN education e
		     ON s.login_id = e.login_id
		     WHERE e.lecture_name = #{lectureName}
	</select>
	
	<select id="selectStudentGroup"
		resultType="map">
		SELECT 
			lecture_name lectureName
			,COUNT(*) cnt
		FROM education
		GROUP BY lecture_name
	</select>
</mapper>